body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 75px;
    background: linear-gradient(to bottom right, #f0f4f8, #09a5ff);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.results {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #e9ecef;
}
.watch {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(255, 0, 0, 0.1);
    transition: transform 0.3s;
}

.watch:hover {
    transform: scale(1.05);
}

.watch-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.watch-item {
    flex: 1 1 calc(30% - 20px);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.watch-item:hover {
    transform: scale(1.05);
    border-color: #007BFF;
}

.more-info {
    margin-top: 10px;
    display: inline-block;
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.more-info:hover {
    background-color: #218838;
}
